/*** The new CSS Reset - version 1.2.0 (last updated 23.7.2021) ***/

/* Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property */
*:where(:not(iframe, canvas, img, svg, video):not(svg *)) {
    all: unset;
    display: revert;
  }
  
  /* Preferred box-sizing value */
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  
  /*
    Remove list styles (bullets/numbers)
    in case you use it with normalize.css
  */
  ol, ul {
    list-style: none;
  }
  
  /* For images to not be able to exceed their container */
  img {
    display: block;
    max-width: 100%;
  }
  
  /* Removes spacing between cells in tables */
  table {
    border-collapse: collapse;
  }
  
  /* Revert the 'white-space' property for textarea elements on Safari */
  textarea {
    white-space: revert;
  }
/*-------------------------------------------------------------------------------------*/

:root {

  --ff-main: 'Inter', sans-serif;

  --clr-primary: rgb(25, 167, 206);
  --clr-secondary: rgb(20, 108, 148);
  --clr-light: rgb(175, 211, 226);
  --clr-accent: rgb(246, 241, 241);


  --fs-default: 1.125rem;
  --fs-medium: calc(var(--fs-default) * 1.3);
  --fs-big: calc(var(--fs-default) * 2);

}


body {
  font-family: var(--ff-main)
}


.split,main,.dates {
  display: flex;
  justify-content: center;

}


.split {
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
}


input, textarea {
  border-bottom: 1px solid black;
  margin-block: .5rem;
}

form {
  padding: 1rem;
}

fieldset {
  display: flex;
  flex-direction: column;
  border:  1px dashed grey;
  padding: 1rem;
  margin-block: 1rem;    
}


.block_form {
  margin-block: 1rem 2rem;
  display: flex;
  flex-direction: column;
}

.cv {
  display: flex;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  overflow: hidden;
  height: min-content;  
}

.cv_left {
  color: var(--clr-accent);
  background-color: var(--clr-primary);
}

.cv_right {
  background-color: var(--clr-accent);
}

h1 {
  font-size: var(--fs-medium);
  margin-block: 1rem 1.5rem;
  text-transform: uppercase;
}

li {
  text-transform: capitalize;
}

 .cv_left, .cv_right {
  padding: 2rem 2rem 5rem 2rem;
}

.cv_left {
  min-width: 14rem;
}
.cv_left h1:not(.cv_header h1) {
  color: var(--clr-accent);
  border-bottom: 3px solid var(--clr-accent);
}

.cv_right h1 {
  color: var(--clr-primary);
  border-bottom: 3px solid var(--clr-primary);
}

.cv_right {
  padding-top: 9rem;
  width: 30rem;
}

.cv_right p {
  opacity: .7;
}

.cv_header {
    color: var(--clr-accent);
    position: relative;   
}

.cv_header h1:first-child {
  margin-bottom: 5rem;
}


.block_ul {
  display: flex;
  gap: 2rem;
}



.cv_date, .block_ul_titles  h2:first-child {
  font-weight: 700;
}

.cv_date {
  line-height: 1.5;
}

.block_ul_titles  h2:not(:first-child){
      opacity: .7;
}

.block_ul_titles h2 {
  margin-bottom: .5rem;
}

legend {
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: .1rem;
}


.name {
  position: absolute;
  top: 100%;
  left: -22%;
  color: black !important;
  text-align: left;
  white-space: nowrap;
  padding-inline: 3rem 125%;
  padding-block: 1rem;
  background-color: var(--clr-accent);  
}

.name h1 {
    font-size: var(--fs-big);
  margin: 0 !important; 
  padding: 0;
}

.phone-email h2{
  line-height: 1.5;
}

.phone-email h3{
 opacity: .7;
}

.phone-email > * {
  margin-bottom: 1rem;
}

ul {
  list-style: disc;
}

.skills li,.block_ul_titles  ul li {
  opacity: .7;
  margin-block: .5rem;
  margin-left: 1.5rem;
}

.main_div_summary p {
  word-wrap: break-word;
}

header {
  background-color: var(--clr-secondary);
  
}
input {
  line-height: 2;
}

header h1 {
  margin: 0 0 5rem 0;
  padding: 1rem 3rem;
  color: var(--clr-accent);
  font-style: italic;
}


.btn_add, .btn_del {
  
  width: 5rem;
  width: min-content;  
  transition: all .5s ease;
}


.btn_add {
  margin-inline: auto;
  color: green;
}

.btn_del {
  color: red;
  padding:.5rem 1rem;
  letter-spacing: .3rem;
}


.btn_add:hover, .btn_del:hover {
  border-radius: 5rem ;

}

.btn_add:hover {  
  padding: 1rem 3rem;
  cursor: pointer;
  background-color: green;
  color: white;
}


.btn_del:hover {  
  cursor: pointer;
  background-color: red; 
  color: white;
}